@{
    Layout = "_Layout";
}

<section class="page-section bg-light text-dark py-5">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-5">Контакты</h2>
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="text-center mb-5">
            <h4>Наш адрес:</h4>
            <p>г. Москва, станция метро Петрово-Разумовская</p>
            <h4>Email:</h4>
            <p>info@it-consulting.com</p>
            <h4>Телефон:</h4>
            <p>+7 (495) 123-45-67</p>
        </div>

        <div class="text-center">
            <h4>Как нас найти:</h4>

            <iframe src=" https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2240.596132976549!2d37.57185707675125!3d55.83496897311474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b5364a19206057%3A0x7a90af53d6c90ac6!2z0J_QtdGC0YDQvtCy0YHQutC-LdCg0LDQt9GD0LzQvtCy0YHQutCw0Y8!5e0!3m2!1sru!2str!4v1732611619777!5m2!1sru!2str"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">>
            </iframe>
        </div>
    </div>
</section>
