@{
    Layout = "_Layout";
}

<section class="page-section bg-light text-dark py-5">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-5">Наши проекты</h2>
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="row text-center">
            <div class="col-lg-4">
                <img src="https://habrastorage.org/getpro/habr/upload_files/0f0/9eb/8d9/0f09eb8d91799b95357a646f9cdaf23b.png" 
                alt="Проект 1" class="img-fluid mb-3">
                <h3>Система управления проектами</h3>
                <p>Удобная веб-платформа для отслеживания задач и мониторинга KPI вашей команды.</p>
            </div>
            <div class="col-lg-4">
                <img src="https://dbwgapw6amg93.cloudfront.net/wp-content/uploads/2015/04/mobile-app-design.jpg?91a215"
                alt="Проект 2" class="img-fluid mb-3">
                <h3>Мобильное приложение</h3>
                <p>Приложение для автоматизации бизнес-процессов и упрощения клиентских операций.</p>
            </div>
            <div class="col-lg-4">
                <img src="https://marketguru.io/secrets/wp-content/uploads/2023/03/jeshoots-com-ltnvqhdkkmw-unsplash-870x400.jpg" 
                alt="Проект 3" class="img-fluid mb-3">
                <h3>Сервис аналитики</h3>
                <p>Продвинутая аналитика для повышения эффективности рекламных кампаний.</p>
            </div>
        </div>
    </div>
</section>
