@{
    Layout = "_Layout";
}

<section class="page-section bg-light text-dark py-5">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-5">Наши услуги</h2>
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-line"></div>
        </div>
        <ul class="list-group">
            <li class="list-group-item">Аудит и оптимизация IT-инфраструктуры</li>
            <li class="list-group-item">Разработка веб-приложений и сайтов</li>
            <li class="list-group-item">Консалтинг в области кибербезопасности</li>
            <li class="list-group-item">Внедрение CRM и ERP-систем</li>
            <li class="list-group-item">Обучение сотрудников современным IT-инструментам</li>
        </ul>
    </div>
</section>
